<div class="previews">
  <div class="slider">
      <%= image_tag 'jack.jpg' %>
      <%= image_tag 'dumbbell.jpg' %>
      <%= image_tag 'machine.jpg' %>
      <%= image_tag 'kigu.jpg' %>
  </div>
</div>